// Sidebar
.block-editor-editor-skeleton__sidebar,
.components-popover {
	font-size: 13px;

	.components-button {
		font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
		font-size: 14px;
	}
}

// responsive helpers
.hide-mobile {
	@media (max-width: map-get($breakpoints, "medium")) {
		display: initial;	
	}
}

.hide-tablet {
	@media (min-width: map-get($breakpoints, "medium")) {
		display: initial;		
	}
}

.hide-desktop {
	@media (min-width: map-get($breakpoints, "large")) {
		display: initial;	
	}
}

// misc editor elements
.editor-styles-wrapper {
	.is-root-container {
		.row {
			.block-editor-inner-blocks {
				.wp-block {
					max-width: none;

					h1,
					.header1 {
						@include header1();
					}
					
					h2,
					.header2 {
						@include header2();
					}
					
					h3,
					.header3 {
						@include header3();
					}
					
					h4,
					.header4 {
						@include header4();
					}
					
					h5,
					.header5 {
						@include header5($margin:0);
					}
					
					h6,
					.header6 {
						@include header6($margin:0);
					}

					p {
						@include baseFont();
					}
				}
			}
		}
	}

	.block-list-appender__toggle {
		margin: 30px 0 0;
		width: 100%;
	}

	.block-editor-inserter {
		margin: $gutter/2;
	}

	.components-resizable-box__container {
		height: auto !important;
		max-height: none !important;
		max-width: auto !important;
		min-height: auto !important;
		min-width: auto !important;
		width: 100% !important;
	}
}

.edit-post-sidebar {
	.block-editor-image-size-control {
		display: none;
	}
	
	.block-editor-block-list__block .block-editor-url-input input[type=text],
	.block-editor-url-input input[type=text],
	.components-popover .block-editor-url-input input[type=text] {
		width: 100%;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	}
}

.components-panel,
.edit-post-header,
.components-panel__body-title {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	font-size: 13px;
	line-height: 1.4em;
}
