// page title
.edit-post-visual-editor__post-title-wrapper .editor-post-title {
	margin: $gutter/2 $gutter;
}

// outer container
.is-root-container {
	padding: $gutter;

	> .block-editor-block-list__block {
		border: 10px solid #f0eeee;
		margin: 0 auto;
		outline: 1px dashed #8d96a0;
		padding: 0;

		&:hover {
			border-color: #bdbdbd;
		}

		&.is-selected {
			border-color: #bdbdbd;
		}

		&::after {
			box-shadow: none;
		}
	}
	
	// wrapper block
	div.wp-block:not( [ class*="col-" ] ) {
		max-width: 100%;
		width: 100%;
	}

	.row {
		> .block-editor-inner-blocks {
			width: 100%;
		}

		// substitue row
		.block-editor-block-list__layout {
			display: flex;
			flex-wrap: wrap;
		}

		//substitue col
		.wp-block[ class*="col-" ] {
			border: 10px solid #f0eeee;
			display: flex;
			margin: 0 auto;
			outline: 1px dashed #8d96a0;
			padding: 0;

			&:hover {
				border-color: #bdbdbd;
			}

			&.is-selected {
				border-color: #bdbdbd;
			}

			&::after {
				box-shadow: none;
			}

			// reset inner blocks
			.wp-block {
				margin: 0;
				width: 100%;
			}
		}

		// reset original cols
		[ class*="col-" ]:not( .wp-block ) {
			flex: 0 0 100%;
			max-width: 100%;
			width: 100%;

			&.col-margin {
				max-width: calc(100% - #{$gutter});
				width: calc(100% - #{$gutter});
			}
		}
	}
}


.wrapper {
	// outline: 1px dashed #8d96a0;

	// .is-selected & {
	// 	outline: 1px solid hsl(0, 0%, 0%);
	// }

	// .container {
	// 	padding: $gutter/2 $gutter;
	// }
}

.row {
	// full row width
	// outline: 1px dashed #8d96a0;
	
	

	// .block-editor-block-list__block {
	// 	border: dashed 1px #8d96a0;
	// 	&::before {
	// 		bottom: 0;
	// 		left: 0;
	// 		outline: none;
	// 		right: 0;
	// 		top: 0;
	// 	}
	// }

	// Content area
	

	// [ class^="wp-block" ][ class*="col-" ] {
	// 	border: dashed 1px #8d96a0;
	// 	background-color: red;
	// 	display: flex;
	// 	margin-bottom: 0;
	// 	margin-top: 0;
	// 	padding-left: 0;
	// 	padding-right: 0;
		
	// 	.row {
	// 		outline: none;
	// 	}
		
	// 	&.is-selected {
	// 		outline: solid 1px #000000;

	// 		&::before {
	// 			border-style: none;
	// 			box-shadow: none;
	// 		}
	// 	}

	// 	[ class^="col-" ] {

	// 		background-color: blue;

	// 		flex: 0 0 100% !important;
	// 		max-width: 100% !important;
			
	// 		&.col-margin {
	// 			flex: 0 0 calc(100% - #{$gutter*2});
	// 			margin: 0 $gutter;
	// 			max-width: calc(100% - #{$gutter*2});
	// 		}
	// 	}

	// 	.block-editor-inner-blocks {
	// 		border: dotted 1px #8d96a0;
	// 		margin-bottom: 10px;
	// 		margin-top: 10px;
	// 	}

	// 	.block-list-appender {
	// 		width: 100%;
	// 	}

	// 	.block-editor-block-list__block {
	// 		margin: 0;
	// 	}
	// }

	// .editor-styles-wrapper {
	// 	.block-editor-block-list__block {
	// 		margin-bottom: 0;
	// 		margin-top: 0;
	// 	}
	// }
}

.block-editor-button-block-appender {
	// background-color: red;
	// margin: 0 10px;
	// outline: 1px solid #8d96a0;
	// width: calc(100% - 20px);
}
