.blog-block-horizontal {
	@include makeRow();

	.section-title {
		@include makeColumn(12);
		margin-bottom: spaceGrid(2, rem);
		text-align: left;

		h2 {
			@include header3;
		}
	}

	.blog-post {
		@include makeColumn(12);
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		margin-bottom: spaceGrid(4, rem);

		@media (min-width: map-get($breakpoints, "small")) {
			@include makeColumn(6);
		}

		@media (min-width: map-get($breakpoints, "medium")) {
			@include makeColumn(3);
		}

		@media (min-width: map-get($breakpoints, "large")) {
			@include makeColumn(6);
		}

		@media (min-width: map-get($breakpoints, "x-large")) {
			@include makeColumn(3);
			margin-bottom: $gutter;
		}
	}
	
	.blog-post-image {
		height: pxRem(150)+rem;
		order: 1;
		width: 100%;

		img {
			height: 100%;
			object-fit: cover;
		}
	}

	.blog-post-text {
		order: 2;
		width: 100%;

		.blog-post-title {
			@include header5($margin:0 0 spaceGrid(.5, rem) 0);
			
			&:first-child {
				margin-top: spaceGrid(1, rem);
			}
		}

		.date {
			@include itemMeta();
		}

		p {
			@include panelBaseFont();
		}
	}

	a {
		color: map-get($color, "grey-dark");
		display: flex;
		flex-wrap: wrap;
		text-decoration: none;
		width: 100%;

		.bg-black & {
			color: $white;

			span {
				color: $white;
			}
		}
	}
}

.blog-block-vertical {
	@include makeRow();

	.section-title {
		@include makeColumn(12);
		margin-bottom: spaceGrid(6, rem);
		text-align: center;
	}

	.blog-post {
		@include makeColumn(12);
		margin-bottom: spaceGrid(4, rem);
	}

	.blog-post-inner {
		@include makeRow();
	}

	.blog-post-image-wrapper {
		@include makeColumn(12);
		height: 250px;
		overflow: hidden;

		@media (min-width: map-get($breakpoints, "small")) {
			@include makeColumn(6);
		}

		@media (min-width: map-get($breakpoints, "medium")) {
			height: 350px;
		}
	}

	.blog-post-text {
		@include makeColumn(12);
		align-self: center;
	
		@media (min-width: map-get($breakpoints, "small")) {
			@include makeColumn(6);
		}

		@media (min-width: map-get($breakpoints, "medium")) {
			padding-left: spaceGrid(4, rem);
		}
		
		.blog-post-title {
			h3 {
				@include header4;
			}
			
			&:first-child {
				margin-top: spaceGrid(1, rem);
			}
		}

		p {
			@media (max-width: map-get($breakpoints, "medium")) {
				@include panelBaseFont();
			}
		}
	}

	.blog-post-image {
		align-self: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 350px;
	}
}
