.slick-slide {
	outline: none;
}

.slider-swipe {
	flex: 1 1 100%;
	text-align: center;

	@media (min-width: map-get($breakpoints, "large")) {
		display: none;
	}
}

.slick-slider {
	position: relative;
}

.slick-button {
	align-items: center;
	background-color: $white;
	border: 0;
	display: flex;
	height: pxRem(25)+rem;
	justify-content: center;
	width: pxRem(25)+rem;

	&:focus {
		outline: none;
	}

	&.previous {
		border-bottom-right-radius: pxRem(4)+rem;
		border-top-right-radius: pxRem(4)+rem;
		left: pxRem(-16)+rem;
		position: absolute;
		top: 45%;
	}

	&.next {
		border-bottom-left-radius: pxRem(4)+rem;
		border-top-left-radius: pxRem(4)+rem;
		position: absolute;
		right: pxRem(-16)+rem;
		top: 45%;
	}

	img {
		filter: invert(100%) sepia(59%) saturate(22%) hue-rotate(190deg) brightness(112%) contrast(90%);

		.bg-blue-l & {
			filter: invert(37%) sepia(68%) saturate(6493%) hue-rotate(186deg) brightness(87%) contrast(87%);
		}

		.bg-grey & {
			filter: invert(100%) sepia(59%) saturate(22%) hue-rotate(190deg) brightness(112%) contrast(90%);
		}

		.bg-blue-m & {
			filter: invert(30%) sepia(100%) saturate(790%) hue-rotate(170deg) brightness(97%) contrast(92%);
		}

		.bg-blue-d {
			filter: invert(26%) sepia(12%) saturate(2528%) hue-rotate(175deg) brightness(92%) contrast(88%);
		}

		.bg-green-l & {
			filter: invert(57%) sepia(94%) saturate(372%) hue-rotate(126deg) brightness(91%) contrast(90%);
		}

		.bg-green & {
			filter: invert(75%) sepia(46%) saturate(6878%) hue-rotate(132deg) brightness(98%) contrast(74%);
		}
	}
}

.slick-dots {
	display: flex;
	justify-content: center;
	list-style-type: none;
	margin: spaceGrid(.5, rem) 0 spaceGrid(2, rem) 0;
	padding: 0;
	
	button {
		align-items: center;
		background: none;
		border: 0 transparent;
		border-radius: 100%;
		cursor: pointer;
		display: inline-flex;
		font-size: 0;
		height: 30px;
		justify-content: center;
		outline: none;
		width: 30px;

		&::before {
			background: map-get($color, "theme-1");
			border-radius: 100%;
			content: "";
			display: block;
			height: 6px;
			width: 6px;

			.bg-blue-d &,
			.bg-blue-m &,
			.bg-blue-l &,
			.bg-green-l &,
			.bg-green & {
				background: $white;
			}
		}
	}

	.slick-active {
		button {
			&::before {
				background: map-get($color, "theme-2");

				.bg-blue-d &,
				.bg-blue-m &,
				.bg-blue-l &,
				.bg-green-l &,
				.bg-green & {
					background: map-get($color, "grey-dark");
				}
			}
		}
	}
}

