.contact-block {
	position: relative;
}

.contact-block-information {
	display: none;

	@media (min-width: map-get($breakpoints, "medium")) {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-bottom: spaceGrid(4, rem);

		h2 {
			margin-bottom: spaceGrid(2, rem);
			position: relative;
		}

		h2::after {
			background: map-get($color, "theme-2");
			bottom: -45%;
			content: "";
			height: pxRem(2)+rem;
			left: 50%;
			margin-left: pxRem(-40)+rem;
			position: absolute;
			width: pxRem(80)+rem;
		}

		.textwidget {
			@include langNavItem;
			color: map-get($color, "grey-dark");
			font-weight: 300;
			margin: spaceGrid(2, rem) 0 0 0;
			max-width: pxRem(400)+rem;
			text-align: center;

			h3 {
				@include header4;
				font-weight: 300;
				margin: spaceGrid(2, rem) 0;
				margin-top: 0;
			}
		}
	}
}

.contact-block-details {
	@include makeRow;
	align-items: center;
	justify-content: flex-end;
	list-style-type: none;
	padding: spaceGrid(2, rem);

	&::after {
		background-image: url("../img/vertical-logo-alter.svg");
		background-repeat: no-repeat;
		background-size: pxRem(45)+rem pxRem(75)+rem;
		content: "";
		display: block;
		height: pxRem(75)+rem;
		left: 0;
		position: absolute;
		top: 10%;
		width: pxRem(50)+rem;
	}

	.contact-block-link {
		a {
			color: map-get($color, "theme-2");
			transition: color .3s ease-in-out;

			svg {
				height: pxRem(40)+rem;
				margin: spaceGrid(1.5, rem);
				width: pxRem(40)+rem;

				.contact-svg-circle {
					fill: none;
					stroke: map-get($color, "theme-2");
					stroke-width: 4px;
					transition: stroke .3s ease-in-out;	
				}

				.contact-svg-phone,
				.contact-svg-mail,
				.contact-svg-linkedin {
					fill: map-get($color, "theme-2");
					transition: fill .3s ease-in-out;	
				}

				.contact-svg-mail {
					stroke-miterlimit: 10;
				}

			}

			p {
				display: none;
			}

			&:hover {
				color: map-get($color, "theme-5");

				.contact-svg-circle {
					stroke: map-get($color, "theme-5");
				}

				.contact-svg-phone,
				.contact-svg-mail,
				.contact-svg-linkedin {
					fill: map-get($color, "theme-5");
				}

			}
		}
	}

	@media (min-width: map-get($breakpoints, "medium")) {
		justify-content: flex-end;

		&::after {
			display: none;
		}
		
		.contact-block-link {
			flex-basis: 33%;

			a {
				align-items: center;
				display: flex;
				flex-direction: column;
				justify-content: center;
				margin: 0 auto;
				max-width: 30%;
				text-decoration: none;

				svg {
					height: initial;
					margin-bottom: spaceGrid(2, rem);
					width: initial;
				}

				p {
					display: initial;
					font-weight: 300;
				}
			}
		}
	}
}
