.contact {
	-webkit-appearance: none;
	background: none;
	border: 0;
	bottom: 15%;
	cursor: pointer;
	outline: none;
	padding: 0;
	position: fixed;
	right: 5%;
	z-index: 10;

	svg {
		height: 55px;
		width: 55px;
	
		@media (min-width: map-get($breakpoints, "small")) {
			height: 65px;
			width: 65px;
		}

		@media (min-width: map-get($breakpoints, "medium")) {
			height: 75px;
			width: 75px;
		}

		@media (min-width: map-get($breakpoints, "large")) {
			height: 85px;
			width: 85px;
		}
	}
	
	rect,
	line {
		transition: .3s ease fill, .3s ease stroke;
	}

	&:hover {
		rect {
			fill: #ffffff;
		}

		line {
			stroke: map-get($color, "theme-2");
		}
	}
}
