.divider-block {
	border-bottom: 1px solid map-get($color, "grey-medium");
	margin: auto;

	.bg-blue-d,
	.bg-blue-m,
	.bg-blue-l,
	.bg-green-l,
	.bg-green & {
		border-color: map-get($color, "grey-medium");
	}

	&.divider-small {
		width: 10%;
	}

	&.divider-medium {
		width: 50%;
	}

	&.divider-large {
		width: 100%;
	}
}
