
main > .wrapper:first-of-type {
	.row {
		[class^="col-"]:first-child {
			overflow: visible;

			> figure {
				margin-left: -10px;
				margin-right: -10px;
				margin-top: -75px;

				@media (min-width: map-get($breakpoints, "large")) {
					margin-top: -115px;
				}

				@media (min-width: map-get($breakpoints, "x-large")) {
					margin-top: -135px;
				}
			}
		}
	}
}
