.header-nav {
	background-color: $white;
	height: 100vh;
	left: -100%;
	position: fixed;
	top: 80px;
	transition: .3s ease left;
	width: 100vw;

	@media (min-width: map-get($breakpoints, "large")) {
		@include makeColumn(8);
		align-items: center;
		display: flex;
		height: auto;
		justify-content: center;
		left: 0;
		position: initial;
		width: auto;
	}

	.header-active & {
		left: 0;
	}

	.main-nav {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		list-style-type: none;
		margin: 0 0 0 spaceGrid(2, rem);
		padding: 0;

		@media (min-width: map-get($breakpoints, "large")) {
			flex-direction: row;
			margin: 0;
		}

		li {
			padding: 0 0 spaceGrid(.5, rem) 0;
			@media (min-width: map-get($breakpoints, "large")) {
				padding: 0 $gutter;
			}

			&.current-menu-item {
				a::after {
					background-color: map-get($color, "theme-5");
					width: 100%;
				}
			}
		}

		a {
			@include mainNavItem();
			color: map-get($color, "theme-1");
			position: relative;
			text-decoration: none;
			white-space: nowrap;
			
			&::after {
				background-color: map-get($color, "theme-2");
				bottom: 0;
				content: "";
				height: 2px;
				left: 0;
				position: absolute;
				width: 0%;
			}

			&:hover,
			&.active {
				&::after {
					transition: .3s ease-out width;
					width: 100%;
				}
			}
		}
	}

	.sub-menu {
		list-style: none;
		margin: spaceGrid(.5, rem) 0 0 0;
		padding: 0 0 0 spaceGrid(1, rem);

		@media (min-width: map-get($breakpoints, "large")) {
			background-color: $white;
			margin: 0 0 0 spaceGrid(-2, rem);
			opacity: 0;
			padding: spaceGrid(3, rem) spaceGrid(2, rem) spaceGrid(2, rem) spaceGrid(2, rem);
			position: absolute;
			transition: .3s ease-out opacity .3s;
			visibility: hidden;
		}

		li {
			margin: 0;
			padding: 0 0 spaceGrid(.5, rem) 0;
		}
	}

	.menu-item:hover .sub-menu {
		opacity: 1;
		visibility: visible;
	}
}


.navigation-toggler {
	align-items: center;
	background: transparent;
	border: 2px solid map-get($color, "theme-2");
	border-radius: 100%;
	cursor: pointer;
	display: flex;
	height: 40px;
	justify-content: center;
	order: 3;
	outline: none;
	position: absolute;
	right: $gutter/2;
	top: calc(50% - 20px);
	transition: .3s ease border-color;
	width: 40px;
	
	@media (min-width: map-get($breakpoints, "large")) {
		display: none;
	}
	
	.header-active & {
		border-color: map-get($color, "theme-2");

		.d {
			fill: map-get($color, "theme-2");
		}

		.d:first-child {
			transform: rotate(45deg);
			transform-origin: 25% 25%;
		}

		.d:nth-child( 2 ) {
			opacity: 0;
		}

		.d:last-child {
			transform: rotate(-45deg);
			transform-origin: 15% 75%;
		}
	}

	.d {
		fill: map-get($color, "theme-2");
		transition: .3s ease all;
	}
}
