.svg-icon {
	align-items: center;
	display: flex;
	justify-content: center;
	padding: spaceGrid(2, rem) 0;

	.svg-icon-circle {
		fill: none;
		stroke: $white;
		stroke-width: pxRem(4)+rem;
	}

	.svg-icon-path {
		fill: $white;
		fill-rule: evenodd;

		&.invest {
			fill: none;
			stroke: $white;
			stroke-linecap: round;
			stroke-linejoin: round;
			stroke-width: pxRem(2)+rem;
		}

		&.fill-white {
			fill: $white;
		}

		&.plus {
			fill: $white;
			stroke: $white;
			stroke-miterlimit: 10;
			stroke-width: pxRem(2)+rem;
		}
	}

	&.theme-1 {
		.svg-icon-circle {
			stroke: map-get($color, "theme-1"); 
		}

		.svg-icon-path {
			fill: map-get($color, "theme-1");

			&.invest {
				fill: none;
				stroke: map-get($color, "theme-1");
			}
	
			&.fill-white {
				fill: map-get($color, "theme-1");
			}
	
			&.plus {
				fill: map-get($color, "theme-1");
				stroke: map-get($color, "theme-1");
			}
		}
	}

	~ h2,
	~ h3,
	~ h4,
	~ h5 {
		margin-top: 0;
	}
}
