.logo {
	@include makeColumn(5);
	display: flex;
	min-height: 80px;
	position: relative;
	
	@media (min-width: map-get($breakpoints, "large")) {
		@include makeColumn(2);
	}

	a {
		display: flex;
		flex: 1 1;
		height: 100%;
	}

	.logo-container {
		background-image: url("../img/logo-alter.svg");
		background-position: center left;
		background-repeat: no-repeat;
		background-size: 100px auto;
	}
}
