.login-nav {
	@include makeColumn(7);
	align-items: center;
	display: flex;
	
	@media (min-width: map-get($breakpoints, "large")) {
		@include makeColumn(2);
		order: 2;
	}

	ul {
		list-style: none;
		margin: 0 60px 0 auto;
		padding: 0;

		@media (min-width: map-get($breakpoints, "large")) {
			margin: 0 0 0 auto;
		}
	}

	a {
		background-color: map-get($color, "theme-2");
		color: $white;
		display: inline-block;
		padding: spaceGrid(.5, rem) spaceGrid(3, rem);
		text-decoration: none;
		transition: .2s ease background-color 0s;
		vertical-align: middle;

		&:hover {
			background-color: map-get($color, "theme-3");
		}
	}
}
