.news-block {
	// display: flex;
	// flex-direction: row;
	// flex-wrap: wrap;
	// @include makeRow();
	h2 {
		@include sectionHeader();
		margin: 0 0 spaceGrid(4, rem) $gutter;
		width: 100%;

		@media (min-width: map-get($breakpoints, "medium")) {
			margin: 0 0 spaceGrid(6, rem) ($gutter + $gutter/2);
		}
	}

	article {
		@include makeRow();
		margin-bottom: spaceGrid(2, rem);

		figure {
			@include makeColumn(24);
			align-self: center;
			order: 0;

			@media (min-width: map-get($breakpoints, "medium")) {
				@include makeColumn(12);
			}
			@media (min-width: map-get($breakpoints, "x-large")) {
				@include makeColumn(10);
			}
		}

		.item-text {
			@include makeColumn(24);
			order: 1;

			@media (min-width: map-get($breakpoints, "medium")) {
				@include makeColumn(12);
				display: flex;
				flex-wrap: wrap;
			}

			@media (min-width: map-get($breakpoints, "x-large")) {
				@include makeColumn(14);
			}
		}

		.item-header {
			@include makeColumn(24);
			margin-top: spaceGrid(2, rem);

			@media (min-width: map-get($breakpoints, "medium")) {
				align-self: center;
			}

			@media (min-width: map-get($breakpoints, "x-large")) {
				@include makeColumn(12);
			}
		}

		.item-intro {
			@include makeColumn(24);

			@media (min-width: map-get($breakpoints, "medium")) {
				@include makeColumn(24);
			}

			@media (min-width: map-get($breakpoints, "x-large")) {
				@include makeColumn(12);
			}

			.date {
				@include itemMeta();
			}
		}

		
	}
}

