blockquote {
	@include blockquote();
	margin: spaceGrid(4, rem) spaceGrid(3, rem);
	quotes: "“" "”";

	&.center {
		text-align: center;
	}

	&.right {
		text-align: right;
	}

	span {
		position: relative;

		&::before {
			content: open-quote;
			left: -1.125rem;
			position: absolute;
			@media (min-width: map-get($breakpoints, "medium")) {
				left: -1.5rem;
			}
		}

		&::after {
			content: close-quote;
			padding-left: .25rem;
		}
	}
	
}
