.read-more-button-container {
	align-items: center;
	display: flex;
}

.read-more-button {
	@include readMoreButton;
	background-color: transparent;
	border: 2px solid map-get($color, "theme-2");
	color: map-get($color, "theme-2");
	cursor: pointer;
	display: inline-block;
	margin: spaceGrid(1, rem) 0;
	padding: 5px 10px;
	text-decoration: none;
	transition: color .2s ease-in;
	transition: border .1s ease-in;
	transition: background-color .1s ease-in;

	&.center { 
		margin: spaceGrid(1, rem) auto;
	}

	span {
		padding-top: 4px;

		@media (min-width: map-get($breakpoints, "medium")) {
			padding-top: 2px;
		}
		@media (min-width: map-get($breakpoints, "x-large")) {
			padding-top: 0;
		}
	}

	&:hover {
		background-color: map-get($color, "theme-2");
		color: $white;
	}

	&:focus {
		outline: none;
	}

	@each $name, $color in $color {
		&.#{$name} {
			border-color: $color;
			color: $color;

			&:hover {
				background-color: $color;
				color: $white;
			}
		}
	}

	.bg-green-l & {
		&:hover {
			color: map-get($color, "theme-4");
		}
	}

	.bg-green & {
		&:hover {
			color: map-get($color, "theme-5");
		}
	}
	
	.bg-blue-d & {
		&:hover {
			color: map-get($color, "theme-1");
		}
	}
}
