.references-block {
	// @include makeFlexbox($flex-direction: column);
	@include makeRow($justify: center, $verticalAlign: center);
	color: $white;
	font-weight: $light-font;

	h2 {
		@include makeColumn(12);
		font-weight: $light-font;
		margin-bottom: spaceGrid(6, rem);
		text-align: center;
	}

	.references-list {
		@include makeRow($justify: center, $verticalAlign: stretch);
	}

	.reference-content {
		align-content: center;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		height: 100%;
		justify-content: flex-start;
		padding: $gutter/2;
		text-align: center;
		width: 100%;
	}

	.reference {
		@include makeColumn(3);

		&:nth-child( n+5 ) {
			display: none;
		}
	}

	.reference-title {
		@include header4;
		color: $white;
		font-weight: $light-font;
		margin-bottom: spaceGrid(4, rem) !important;
	}

	.reference-image {
		border-radius: 50%;
		height: auto;
		margin: auto;
		width: pxRem(125)+rem;
	}

	.reference-item {
		&.name {
			font-weight: bold;
			margin-bottom: pxRem(-5)+rem;
			margin-top: spaceGrid(2, rem);
		}

		&.name,
		&.job-title {
			text-transform: capitalize;
		}

		&.quote {
			line-height: 1.125;
			margin-top: spaceGrid(2, rem);
		}
	}

	.slick-initialized {
		display: block;
		width: 100%;

		article {
			flex: none;
			max-width: none;
		}

		.slick-track {
			display: flex;
		}

		.slick-slide {
			align-items: center;
			display: flex;
			height: auto;
			justify-content: center;
		}
	}
}
