

.btn-scroll-top {
	-webkit-appearance: none;
	background: none;
	border: 0;
	cursor: pointer;
	outline: none;
	padding: 0;
	position: absolute;
	right: 5%;
	top: -100px;

	@media (min-width: map-get($breakpoints, "medium")) {
		top: -150px;
	}

	svg {
		height: 55px;
		width: 55px;
	
		@media (min-width: map-get($breakpoints, "small")) {
			height: 65px;
			width: 65px;
		}

		@media (min-width: map-get($breakpoints, "medium")) {
			height: 75px;
			width: 75px;
		}

		@media (min-width: map-get($breakpoints, "large")) {
			height: 85px;
			width: 85px;
		}
	}

	&:hover {
		.cls-1 {
			fill: map-get($color, "theme-4");
		}
	}

	.cls-1 {
		fill: $white;
		stroke: map-get($color, "theme-4");
		stroke-width: 2px;
		transition: fill .5s ease;
	}

	.cls-2 {
		path {
			fill: none;
			stroke: $black;
			stroke-width: 2px;
		}
	}
}
