.share-menu-row {
	@include makeRow($verticalAlign: center);
	margin: auto;

	.share-menu {
		list-style: none;
		padding-left: $gutter / 2;
		padding-right: $gutter / 2;
		padding-top: spaceGrid(3, rem);
	
		ul {
			padding: 0;
		}
	
		.share-menu-item {
			display: inline;
	
			path {
				fill: map-get($color, "grey-dark");
				transition: fill .5s ease;
			}
	
			a {
				text-decoration: none;
			}
	
			&:hover {
				path {
					fill: map-get($color, "theme-5");
				}
			}
		}
	}
	
}
