@keyframes fade_in_show {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.modal {
	&-bg {
		align-items: center;
		background: $modalOverlay;
		bottom: 0;
		display: none;
		height: 100%;
		justify-content: center;
		left: 0;
		opacity: 0;
		position: fixed;
		right: 0;
		top: 0;
		width: 100%;
		z-index: 10;

		&.show {
			animation: fade_in_show .5s;
			animation-fill-mode: forwards;
			display: flex;
		}
	}

	&-content {
		align-items: center;
		background: $white;
		color: map-get($color, "grey-dark");
		display: flex;
		flex-direction: column;
		max-height: 90%;
		overflow-y: auto;
		padding: spaceGrid(4, rem);
		position: relative;
		width: 90%;

		@media (min-width: map-get($breakpoints, "large")) {
			width: 50%;
		}

	}

	&-title {
		@include header4;
		color: map-get($color, "theme-5") !important;
		font-weight: $light-font;
		margin-bottom: spaceGrid(6, rem) !important;
		position: relative;

		&::before {
			background: map-get($color, "theme-5");
			bottom: -15px;
			content: "";
			height: 2px;
			left: 25%;
			opacity: .3;
			position: absolute;
			width: 50%;
		}
	}

	&-close-button {
		background: none;
		border: 2px solid map-get($color, "theme-5");
		border-radius: 50%;
		cursor: pointer;
		position: absolute;
		right: 20px;
		top: 20px;

		&:focus {
			outline: none;
		}

		&:hover {
			background-color: map-get($color, "theme-5");
			color: $white;
			transition: all .1s ease-in;
		}

		span {
			display: block;
			font-weight: bold;
			transform: rotate(45deg);
		}
	}

	&-form {
		.form-group-name {
			display: block;

			@media (min-width: map-get($breakpoints, "medium")) {
				@include makeRow($wrap: nowrap, $justify: space-between, $margin: 0);

				input {
					flex-basis: 32%;
				}
			}
		}

		.form-submit {
			@include makeRow($justify: center, $verticalAlign: center);

			button {
				height: 55px;
				width: 50%;

				&:hover {
					color: $white;
				}
			}
		}
	}
}
