.training-hero {
	align-items: center;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	height: 350px;
	padding: 0;
	position: relative;
	width: 100%;

	.overlay {
		background-color: map-get($color, "theme-5");
		height: 100%;
		left: 0;
		opacity: .5;
		position: absolute;
		top: 0;
		width: 100%;
	}

	.container {
		margin: auto;
	}

	.training-hero-header {
		@include makeRow($justify: center, $verticalAlign: center);
		@include header3;
		color: $white;
		flex-direction: column;
		text-align: center;

		.title {
			@include header3;
			color: $white;
		}

		span {
			margin: 0;
		}
	}
}

.training-details {
	border-collapse: separate;
	border-spacing: 0 0;
	color: $white;
}

.training-details,
th,
td {
	border: 0;
	font-weight: bold;
	padding: 0 0 10px;
}

th {
	text-align: left;
}

.training-cta-wrapper {
	@include makeColumn(12);
	display: flex;
	justify-content: center;

	.read-more-button {
		margin: 0 $gutter;
	}

}

.training-info-container {
	@include makeWrapper;
	background-color: map-get($color, "theme-5");

	.training-info {
		@include makeRow($wrap: wrap, $justify: center, $verticalAlign: flex-start);
		max-width: 800px;
		padding: spaceGrid(6, rem) 0;

		.training-description {
			@include makeColumn(12);
			color: $white;

			@media (min-width: map-get($breakpoints, "small")) {
				@include makeColumn(6);
				padding: 0 spaceGrid(4, rem);
			}
		}

		.training-info-data {
			@include makeColumn(12);
			@media (min-width: map-get($breakpoints, "small")) {
				@include makeColumn(6);
				padding: 0 spaceGrid(4, rem);
			}
		}

		button {
			margin-top: spaceGrid(3, rem);
			// padding: spaceGrid(1, rem) spaceGrid(3, rem);
			width: 100%;

			&:hover {
				color: map-get($color, "theme-1");
			}

			@media (min-width: map-get($breakpoints, "medium")) {
				width: initial;
			}
		}
	}
}
