.subtitle-block {
	@include baseFont;
	display: inline-block;
	margin-bottom: spaceGrid(1, rem);
	
	@each $name, $color in $color {		
		&.#{$name} {
			color: $color;
		}
	}

	&.white {
		color: $white;
	}
}
