.testimonials-block {
	@include makeRow($justify: center, $verticalAlign: center);

	.testimonial {
		@include makeColumn(12);
		text-align: center;
		
		.testimonial-content {
			@include blockQuoteStyle;
			
			span {
				line-height: 1.2;
			}
		}

		.testimonial-author,
		.testimonial-content {
			font-style: initial;
			font-weight: $light-font;
			text-shadow: 0 0 5px #415b7f;
		}
	}

}
