.training-block {
	margin-top: spaceGrid(3, rem);

	.training-container {
		@include makeRow();
		
		&.no-slider {
			.training-item {
				margin-bottom: spaceGrid(8, rem);
			}
		}
	}

	.training-item {
		@include makeColumn(6, $padding: 30px);
		display: flex;
		flex-direction: column;

		h3 {
			@include header5;
		}

		p {
			flex: 1 0 auto;
			font-weight: $light-font;
		}
	}

	.divider {
		border-bottom: 2px solid map-get($color, "grey-dark");
		margin: spaceGrid(2, rem) 0;
		opacity: .2;
	}

	.training-buttons {
		@media (min-width: map-get($breakpoints, "medium")) {
			display: flex;
		}

		button {
			width: 100%;
		}

		a,
		button {
			@include itemMeta;
			align-items: center;
			display: flex;
			font-weight: bold;
			justify-content: center;

			span {
				padding-top: 0;
			}

			@media (min-width: map-get($breakpoints, "medium")) {
				@include makeColumn(6, $padding: 0);
				flex-basis: 48%;
			}

			&.white {
				@media (min-width: map-get($breakpoints, "medium")) {
					margin-right: spaceGrid(2, rem);
				}
			}

			&.white-inverse {
				background-color: $white;
				border-color: $white;
				color: map-get($color, "theme-1");

				@media (min-width: map-get($breakpoints, "medium")) {
					margin-right: spaceGrid(2, rem);
				}

				&:hover {
					background-color: map-get($color, "theme-1");
					border-color: $white;
					color: $white;
				}
			}
		}
	}
	
	.slick-track {
		display: flex;
		height: 100%;
	}

	.slick-slide {
		flex: 0 0 auto;
		max-width: auto;
	}

	.slick-dots {
		margin: spaceGrid(2, rem) auto;
	}
}

