:root {
	font-size: 100%;

	@media (min-width: map-get($breakpoints, "medium")) {
		font-size: 107.5%;
	}

	@media (min-width: map-get($breakpoints, "x-large")) {
		font-size: 112.5%;
	}
}

body {
	@include baseFont();
	background: $white;
	color: map-get($color, "grey-dark");
}

.has-overlay {
	height: 100%;
	overflow-y: hidden;
}

h1,
.header1 {
	@include header1();
	@include headerColors();
}

h2,
.header2 {
	@include header2();
	@include headerColors();
}

h3,
.header3 {
	@include header3();
	@include headerColors();
}

h4,
.header4 {
	@include header4();
	@include headerColors();
}

h5,
.header5 {
	@include header5();
	@include headerColors();
}

h6,
.header6 {
	@include header6();
	@include headerColors();
}

a {
	@include anchorColors();
	text-decoration: underline;
}

p {
	margin: 0 0 spaceGrid(1.5, rem) 0;

	&.has-text-align-center {
		text-align: center;
	}

	&.has-text-align-right {
		text-align: right;
	}
}

ul {
	margin: 0 0 spaceGrid(1, rem) 0;
}

li {
	margin: 0;
}

ol {
	margin: 0;
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: bottom;
}

figure {
	margin: 0;
	padding: 0;

	&.size-large {
		img {
			width: 100%;
		}
	}

	&.aligncenter {
		text-align: center;
	}

	&.alignright {
		text-align: right;
	}
}

table {
	border-collapse: collapse;
	width: 100%;
}

table,
th,
td {
	border: 1px solid map-get($color, "grey-dark");
}

.has-text-align-center {
	text-align: center;
}

.has-text-align-right {
	text-align: right;
}

.has-drop-cap:not( :focus )::first-letter,
.has-drop-cap::first-letter {
	float: left;
	font-size: 2.75rem;
	font-style: normal;
	line-height: 1;
	margin: .25rem .75rem 0 0;
	text-transform: uppercase;
}

.assistive {
	@include visuallyHidden();
}

.bg-white,
.col-bg-white {
	background-color: $white;
	color: map-get($color, "theme-1");
}

.bg-grey,
.col-bg-grey {
	background-color: map-get($color, "grey-medium");
	color: map-get($color, "theme-1");
}

.bg-blue-d,
.col-bg-blue-d {
	background-color: map-get($color, "theme-1");
	color: $white;

	&.bg-transp {
		background: rgba(map-get($color, "theme-1"), .5);
	}
}

.bg-blue-m,
.col-bg-blue-m {
	background-color: map-get($color, "theme-2");
	color: $white;

	&.bg-transp {
		background: rgba(map-get($color, "theme-2"), .5);
	}
}

.bg-blue-l,
.col-bg-blue-l {
	background-color: map-get($color, "theme-3");
	color: $white;

	&.bg-transp {
		background: rgba(map-get($color, "theme-3"), .5);
	}
}

.bg-green-l,
.col-bg-green-l {
	background-color: map-get($color, "theme-4");
	color: $white;

	&.bg-transp {
		background: rgba(map-get($color, "theme-4"), .5);
	}
}

.bg-green,
.col-bg-green {
	background-color: map-get($color, "theme-5");
	color: $white;

	&.bg-transp {
		background: rgba(map-get($color, "theme-5"), .5);
	}
}

// alignment options
.align {
	&-left {
		justify-content: flex-start;
	}

	&-center {
		justify-content: center;
		text-align: center;
	}

	&-right {
		justify-content: flex-end;
	}
}

.map-responsive {
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;

	iframe {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}
