@font-face {
	font-display: swap;
	font-family: $primary-font;
	font-style: normal;
	font-weight: 300;
	src: url("../fonts/source-sans-pro-v13-latin-300.woff") format("woff");
}

@font-face {
	font-display: swap;
	font-family: $primary-font;
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/source-sans-pro-v13-latin-regular.woff") format("woff");
}

@font-face {
	font-display: swap;
	font-family: $primary-font;
	font-style: italic;
	font-weight: normal;
	src: url("../fonts/source-sans-pro-v13-latin-italic.woff") format("woff");
}

@font-face {
	font-display: swap;
	font-family: $primary-font;
	font-style: normal;
	font-weight: bold;
	src: url("../fonts/source-sans-pro-v13-latin-600.woff") format("woff");
}

@font-face {
	font-display: swap;
	font-family: $primary-font;
	font-style: italic;
	font-weight: bold;
	src: url("../fonts/source-sans-pro-v13-latin-600italic.woff") format("woff");
}
