fieldset {
	border: 0;
	margin-bottom: 20px;
	padding: 0;
}

input,
textarea {
	@include baseFont();
	background-color: $white;
	border: 2px solid map-get($color, "theme-4");
	margin-bottom: 20px;
	outline: none;
	
	&::placeholder {
		@include baseFont();
		color: map-get($color, "theme-1");
	}
}

textarea {
	@include baseFont();
	padding: $gutter;
	width: 100%;
}

input {
	height: 60px;
	padding: 0 $gutter;
	width: 100%;
}

input[type="checkbox"] {
	height: 20px;
	margin: 0;
	width: 20px;
}

.form-group-checkbox {
	align-items: center;
	display: flex;
	
	label {
		padding: 0 0 0 spaceGrid(1, rem);
	}
}

.form-feedback {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.submitted {
	input:invalid {
		border-color: $red;
	}
}

.error {
	color: $red;
}

.radio-button {
	display: inline-flex;

	input[type="radio"] {
		height: 34px;
		margin: 0;
		visibility: hidden;
		width: 34px;

		&:checked + label::after {
			background: map-get($color, "theme-1");
		}
	}

	label {
		padding: 0 $gutter;
		position: relative;

		&::before,
		&::after {
			border-radius: 100%;
			content: "";
			display: block;
			position: absolute;
		}

		&::before {
			border: 2px solid map-get($color, "theme-4");
			height: 32px;
			left: -32px;
			top: 0;
			width: 32px;
		}

		&::after {
			background: #ffffff;
			height: 11px;
			left: -21px;
			top: 10px;
			transition: .3s ease background;
			width: 10px;
		}
	}
}
