
.wrapper {
	@include makeWrapper();
}

.container {
	@include makeContainer();
	@media (max-width: map-get($breakpoints, "large")) {
		padding: 0 $gutter;
	}
}

.row {
	@include makeRow();
	
	&.v-align-items-center {
		align-items: center;
	}
}

.wp-block-columns {
	@include makeRow();
}

[ class^="col-" ] {
	@include makeColumn($grid-columns);
	z-index: 2;

	&.pt-s {
		padding-top: spaceGrid(2, rem);
	}
	
	&.pt-m {
		padding-top: spaceGrid(4, rem);
	}
	
	&.pt-l {
		padding-top: spaceGrid(6, rem);
	}

	&.pb-s {
		padding-bottom: spaceGrid(2, rem);
	}
	
	&.pb-m {
		padding-bottom: spaceGrid(4, rem);
	}
	
	&.pb-l {
		padding-bottom: spaceGrid(6, rem);
	}
}

@for $i from 1 through $grid-columns {
	.col-#{$i} {
		@media (min-width: map-get($breakpoints, "small")) {
			@include makeColumn($i);
			z-index: 2;
		
			&.col-margin {
				@include makeColumn($i, $margin:$gutter);
			}
		}
	}
}

.no-gutter {
	padding: 0;
}

.pt-s {
	padding-top: spaceGrid(3, rem);
}

.pt-m {
	padding-top: spaceGrid(6, rem);
}

.pt-l {
	padding-top: spaceGrid(9, rem);
}

.pr-none {
	padding-right: 0;

	&.col-margin {
		@media (min-width: map-get($breakpoints, "small")) {
			padding-right: 0;
		}
	}
}

.pr-s,
.col-margin.pr-s {
	@media (min-width: map-get($breakpoints, "small")) {
		padding-right: getColWidth(1);
	}
}

.pr-m,
.col-margin.pr-m {
	@media (min-width: map-get($breakpoints, "small")) {
		padding-right: getColWidth(2);
	}
}

.pr-l,
.col-margin.pr-l {
	@media (min-width: map-get($breakpoints, "small")) {
		padding-right: getColWidth(3);
	}
}

.pb-s {
	padding-bottom: spaceGrid(3, rem);
}

.pb-m {
	padding-bottom: spaceGrid(6, rem);
}

.pb-l {
	padding-bottom: spaceGrid(7, rem);
}

.pl-none {
	padding-left: 0;

	&.col-margin {
		@media (min-width: map-get($breakpoints, "small")) {
			padding-left: 0;
		}
	}
}

.pl-s,
.col-margin.pl-s {
	@media (min-width: map-get($breakpoints, "small")) {
		padding-left: getColWidth(1);
	}
}

.pl-m,
.col-margin.pl-m {
	@media (min-width: map-get($breakpoints, "small")) {
		padding-left: getColWidth(2);
	}
}

.pl-l,
.col-margin.pl-l {
	@media (min-width: map-get($breakpoints, "small")) {
		padding-left: getColWidth(3);
	}
}

.v-align-center {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
}

.v-align-bottom {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-end;
}

.hide-mobile {
	@media (max-width: map-get($breakpoints, "small")) {
		display: none;	
	}
}

.hide-tablet {
	@media (min-width: map-get($breakpoints, "small")) and (max-width: map-get($breakpoints, "large")) {
		display: none;	
	}
}

.hide-desktop {
	@media (min-width: map-get($breakpoints, "large")) {
		display: none;	
	}
}
