footer {
	background-color: map-get($color, "grey-medium");
	padding: spaceGrid(4, rem) spaceGrid(1, rem);
	position: relative;
	z-index: 3;
	
	@media (min-width: map-get($breakpoints, "medium")) {
		padding: spaceGrid(4, rem) spaceGrid(2, rem) spaceGrid(2, rem) spaceGrid(2, rem);
	}
	
	.footer {
		@include makeColumn(12);
		margin-bottom: spaceGrid(2, rem);
	}

	a {
		color: map-get($color, "theme-1");
		text-decoration: none;
		transition: color .5s ease;
	}

	.footer-navigation {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		list-style-type: none;
		margin: 0;
		padding: 0;
		text-align: center;

		li {
			display: inline;
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}
