/*
Calculate rem based on pixel input
*/
@function pxRem($px) {
	@return ($px/$base-font-size);
}

/*
Calculate px based on rem input
*/
@function remPx($rem) {
	@return ($rem*$base-font-size);
}

/*
Function to create layout spacing value based on set grid size (8pt grid or 4pt grid)
Output can be px or rem
*/
@function spaceGrid($step, $unit: null) {
	$value: ($step*$space-grid-size);

	@if ($unit==rem) {
		$value: pxRem($value);
	}

	@if ($unit !=null) {
		@return $value+$unit;
	}

	@else {
		@return $value;
	}
}

/*
Calculate line height bases on modular scale font step;
*/
@function getLineHeight($rem-font-size, $step) {
	$lineHeight: spaceGrid($step);
	$pixelFont: remPx($rem-font-size);
	@return $lineHeight/$pixelFont;
}

/*
Get the width of x columns in percentages
*/
@function getColWidth($columns) {
	@return $columns / $grid-columns * 100%;
}
