/*
 * Creates the background wrapper.
 */
@mixin makeWrapper($justify: center) {
	display: flex;
	flex-wrap: wrap;
	justify-content: $justify;
	width: 100%;
}

/*
 * Create a dynamic flexbox
 */ 

@mixin makeFlexbox($align-items: center, $justify: center, $flex-direction: row) {
	display: flex;

	@if ($align-items !=null) {
		align-items: $align-items;
	}

	@if ($justify !=null) {
		justify-content: $justify;
	}

	@if ($flex-direction !=null) {
		flex-direction: $flex-direction;
	}

}

/*
 * Creates the flex container.
 */
@mixin makeContainer() {
	max-width: $max-width;
	padding-left: $gutter / 2;
	padding-right: $gutter / 2;
	width: 100%;
}

/*
Create a row inside a flex container.
Params:
 - $justify: Divide items in container
 - $align: Vertical align items
 - $reverse: Reverse the Grid (RTL -> LTR). Default false.
 - $wrap: Wrap the content. Default: wrap.
 */
@mixin makeRow($wrap: wrap, $justify: flex-start, $verticalAlign: stretch, $margin: ($gutter / -2)) {
	display: flex;
	flex-basis: 100%;
	flex-wrap: $wrap;
	max-width: $max-width;

	@if ($verticalAlign !=null) {
		align-items: $verticalAlign;
	}

	@if ($justify !=null) {
		justify-content: $justify;
	}

	@if ($margin !=null) {
		margin-left: $margin;
		margin-right: $margin;
	}
}

/*
Create a column inside a flex row.
Params:
  - $columns: Number of desired columns inside the row. Default: 12.
  - $padding: The gutter between columns. Default $gutter (32px).
 */
@mixin makeColumn($columns, $padding: ($gutter / 2), $margin:null) {
	$col-width: $columns / $grid-columns * 100%;
	
	@if ($margin !=null) {
		flex: 0 0 calc(#{$col-width} - #{$margin});
		margin: 0 $margin/2;
		max-width: calc(#{$col-width} - #{$margin});
	} @else {
		flex: 0 0 $col-width;
		max-width: $col-width;
	}
	@if ($padding !=null) {
		padding-left: $padding;
		padding-right: $padding;
	}
}
