
@mixin respondMin($width) {
	@media (min-width: $width) {
		@content;
	}
}

@mixin respondMax($width) {
	@media (max-width: $width) {
		@content;
	}
}

/*
Creates a visually hidden element. Used for WCAG 2.
 */
@mixin visuallyHidden() {
	border: 0;
	clip: rect(0, 0, 0, 0);
	display: inline-block;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

@mixin blockQuoteStyle() {
	@include blockquote();
	margin: spaceGrid(4, rem) spaceGrid(3, rem);
	quotes: "“" "”";

	&.center {
		text-align: center;
	}

	&.right {
		text-align: right;
	}

	span {
		position: relative;

		&::before {
			content: open-quote;
			left: -1.125rem;
			position: absolute;
			@media (min-width: map-get($breakpoints, "medium")) {
				left: -1.5rem;
			}
		}

		&::after {
			content: close-quote;
			padding-left: .25rem;
		}
	}
}
