@mixin baseFont() {
	$rem-font-size: 1;
	font-family: $primary-font;
	font-size: $rem-font-size + rem;
	font-weight: normal;
	line-height: getLineHeight($rem-font-size, 3.5);
}

@mixin panelBaseFont() {
	$rem-font-size: 1;
	font-family: $primary-font;
	font-size: $rem-font-size + rem;
	font-weight: normal;
	line-height: getLineHeight($rem-font-size, 3);

	@media (min-width: map-get($breakpoints, "medium")) {
		$rem-font-size: .875;
		font-size: $rem-font-size + rem;
	}
}

@mixin header1($margin: null) {
	$rem-font-size: 2.5;
	font-family: $primary-font;
	font-size: $rem-font-size + rem;
	font-weight: 300;
	line-height: getLineHeight($rem-font-size, 5.5);
	@if ($margin) {
		margin: $margin;
	}@else {
		margin: spaceGrid(3, rem) 0 spaceGrid(1.5, rem) 0;
	}

	@media (min-width: map-get($breakpoints, "medium")) {
		$rem-font-size: 3;
		font-size: $rem-font-size + rem;
		line-height: getLineHeight($rem-font-size, 6.5);
		@if ($margin) {
			margin: $margin;
		}@else {
			margin: spaceGrid(3, rem) 0 spaceGrid(1.5, rem) 0;
		}
	}

	@media (min-width: map-get($breakpoints, "x-large")) {
		$rem-font-size: 3.5;
		font-size: $rem-font-size + rem;
		line-height: getLineHeight($rem-font-size, 8);
		@if ($margin) {
			margin: $margin;
		}@else {
			margin: spaceGrid(4, rem) 0 spaceGrid(2, rem) 0;
		}
	}

	&:first-child {
		margin-top: 0;
	}
}

@mixin header2($margin: null) {
	$rem-font-size: 2.2;
	font-family: $primary-font;
	font-size: $rem-font-size + rem;
	font-weight: 300;
	line-height: getLineHeight($rem-font-size, 5);
	@if ($margin) {
		margin: $margin;
	}@else {
		margin: spaceGrid(3, rem) 0 spaceGrid(1.5, rem) 0;
	}

	@media (min-width: map-get($breakpoints, "medium")) {
		$rem-font-size: 2.7;
		font-size: $rem-font-size + rem;
		line-height: getLineHeight($rem-font-size, 6);
		@if ($margin) {
			margin: $margin;
		}@else {
			margin: spaceGrid(3, rem) 0 spaceGrid(1.5, rem) 0;
		}
	}

	@media (min-width: map-get($breakpoints, "x-large")) {
		$rem-font-size: 3.2;
		font-size: $rem-font-size + rem;
		line-height: getLineHeight($rem-font-size, 7);
		@if ($margin) {
			margin: $margin;
		}@else {
			margin: spaceGrid(4, rem) 0 spaceGrid(4, rem) 0;
		}
	}

	&:first-child {
		margin-top: 0;
	}
}

@mixin header3($margin: null) {
	$rem-font-size: 1.7;
	font-family: $primary-font;
	font-size: $rem-font-size + rem;
	font-weight: 300;
	line-height: getLineHeight($rem-font-size, 4);
	@if ($margin) {
		margin: $margin;
	}@else {
		margin: spaceGrid(3, rem) 0 spaceGrid(1.5, rem) 0;
	}

	@media (min-width: map-get($breakpoints, "medium")) {
		$rem-font-size: 2.1;
		font-size: $rem-font-size + rem;
		line-height: getLineHeight($rem-font-size, 5);
		@if ($margin) {
			margin: $margin;
		}@else {
			margin: spaceGrid(3, rem) 0 spaceGrid(1.5, rem) 0;
		}
	}

	@media (min-width: map-get($breakpoints, "x-large")) {
		$rem-font-size: 2.5;
		font-size: $rem-font-size + rem;
		line-height: getLineHeight($rem-font-size, 5.5);
		@if ($margin) {
			margin: $margin;
		}@else {
			margin: spaceGrid(4, rem) 0 spaceGrid(2, rem) 0;
		}
	}

	&:first-child {
		margin-top: 0;
	}
}

@mixin header4($margin: null) {
	$rem-font-size: 1.4;
	font-family: $primary-font;
	font-size: $rem-font-size + rem;
	font-weight: 300;
	line-height: getLineHeight($rem-font-size, 3.5);
	@if ($margin) {
		margin: $margin;
	}@else {
		margin: spaceGrid(3, rem) 0 spaceGrid(1.5, rem) 0;
	}

	@media (min-width: map-get($breakpoints, "medium")) {
		$rem-font-size: 1.7;
		font-size: $rem-font-size + rem;
		line-height: getLineHeight($rem-font-size, 4);
		@if ($margin) {
			margin: $margin;
		}@else {
			margin: spaceGrid(3, rem) 0 spaceGrid(1.5, rem) 0;
		}
	}

	@media (min-width: map-get($breakpoints, "x-large")) {
		$rem-font-size: 2;
		font-size: $rem-font-size + rem;
		line-height: getLineHeight($rem-font-size, 5);
		@if ($margin) {
			margin: $margin;
		}@else {
			margin: spaceGrid(4, rem) 0 spaceGrid(2, rem) 0;
		}
	}

	&:first-child {
		margin-top: 0;
	}
}

@mixin header5($margin: null) {
	$rem-font-size: 1.2;
	font-family: $primary-font;
	font-size: $rem-font-size + rem;
	font-weight: 300;
	line-height: getLineHeight($rem-font-size, 3.5);
	@if ($margin) {
		margin: $margin;
	}@else {
		margin: spaceGrid(2, rem) 0 spaceGrid(1, rem) 0;
	}

	@media (min-width: map-get($breakpoints, "medium")) {
		$rem-font-size: 1.4;
		font-size: $rem-font-size + rem;
		line-height: getLineHeight($rem-font-size, 3.5);
		@if ($margin) {
			margin: $margin;
		}@else {
			margin: spaceGrid(2, rem) 0 spaceGrid(1, rem) 0;
		}
	}

	@media (min-width: map-get($breakpoints, "x-large")) {
		$rem-font-size: 1.6;
		font-size: $rem-font-size + rem;
		line-height: getLineHeight($rem-font-size, 4);
		@if ($margin) {
			margin: $margin;
		}@else {
			margin: spaceGrid(3, rem) 0 spaceGrid(1.5, rem) 0;
		}
	}

	&:first-child {
		margin-top: 0;
	}
}

@mixin header6($margin: null) {
	$rem-font-size: 1;
	font-family: $primary-font;
	font-size: $rem-font-size + rem;
	font-weight: 300;
	line-height: getLineHeight($rem-font-size, 3);
	@if ($margin) {
		margin: $margin;
	}@else {
		margin: spaceGrid(2, rem) 0 spaceGrid(1, rem) 0;
	}
}

@mixin sectionHeader() {
	$rem-font-size: 1.6;
	font-family: $primary-font;
	font-size: $rem-font-size + rem;
	line-height: getLineHeight($rem-font-size, 3);

	@media (min-width: map-get($breakpoints, "medium")) {
		$rem-font-size: 1.8;
		font-size: $rem-font-size + rem;
		line-height: getLineHeight($rem-font-size, 3);
	}

	@media (min-width: map-get($breakpoints, "x-large")) {
		$rem-font-size: 2;
		font-size: $rem-font-size + rem;
		line-height: getLineHeight($rem-font-size, 4);
	}
}

@mixin headerMainNavItem() {
	$rem-font-size: 1.5;
	font-family: $primary-font;
	font-size: $rem-font-size + rem;
	line-height: getLineHeight($rem-font-size, 3);

	@media (min-width: map-get($breakpoints, "medium")) {
		$rem-font-size: 1.3333333;
		font-size: $rem-font-size + rem;
		line-height: getLineHeight($rem-font-size, 3);
	}

	@media (min-width: map-get($breakpoints, "x-large")) {
		$rem-font-size: 1.2;
		font-size: $rem-font-size + rem;
		line-height: getLineHeight($rem-font-size, 3);
	}
}

@mixin headerSubNavItem() {
	$rem-font-size: 1;
	font-size: $rem-font-size + rem;
	line-height: getLineHeight($rem-font-size, 3);

	@media (min-width: map-get($breakpoints, "large")) {
		$rem-font-size: .8;
		font-size: $rem-font-size + rem;
		line-height: getLineHeight($rem-font-size, 3);
	}
}

@mixin lightSubHeader() {
	$rem-font-size: 1;
	font-family: $primary-font;
	font-size: $rem-font-size + rem;
	font-weight: normal;
	line-height: getLineHeight($rem-font-size, 3);
}

@mixin panelItemHeader() {
	$rem-font-size: 1.25;
	font-family: $primary-font;
	font-size: $rem-font-size + rem;
	line-height: getLineHeight($rem-font-size, 3);
}

@mixin mainNavItem() {
	$rem-font-size: 1;
	font-family: $primary-font;
	font-size: $rem-font-size + rem;
	font-weight: bold;
	line-height: getLineHeight($rem-font-size, 2);
}

@mixin langNavItem() {
	$rem-font-size: .8;
	font-family: $primary-font;
	font-size: $rem-font-size + rem;
	line-height: getLineHeight($rem-font-size, 2);
}

@mixin readMoreButton() {
	$rem-font-size: .875;
	font-family: $primary-font;
	font-size: $rem-font-size + rem;
	line-height: getLineHeight($rem-font-size, 3);

	@media (min-width: map-get($breakpoints, "large")) {
		$rem-font-size: 1;
		font-size: $rem-font-size + rem;
		line-height: getLineHeight($rem-font-size, 3);
	}
}

@mixin itemMeta() {
	$rem-font-size: .875;
	font-family: $primary-font;
	font-size: $rem-font-size + rem;
	line-height: getLineHeight($rem-font-size, 3);

	@media (min-width: map-get($breakpoints, "large")) {
		$rem-font-size: .875;
		font-size: $rem-font-size + rem;
		line-height: getLineHeight($rem-font-size, 3);
	}
}

@mixin blockquote() {
	$rem-font-size: 2;
	font-family: $primary-font;
	font-size: $rem-font-size + rem;
	font-style: italic;
	font-weight: normal;
	line-height: getLineHeight($rem-font-size, 5);

	@media (min-width: map-get($breakpoints, "small")) {
		$rem-font-size: 2.4;
		font-size: $rem-font-size + rem;
		line-height: getLineHeight($rem-font-size, 5);
	}

	@media (min-width: map-get($breakpoints, "medium")) {
		$rem-font-size: 2.8;
		font-size: $rem-font-size + rem;
		line-height: getLineHeight($rem-font-size, 6);
	}
}

@mixin headerColors {
	color: map-get($color, "theme-2");

	.bg-white & {
		color: map-get($color, "theme-2");
	}

	.bg-grey & {
		color: map-get($color, "theme-2");
	}

	.bg-blue-d & {
		color: $white;
	}

	.bg-blue-m & {
		color: $white;
	}

	.bg-blue-l & {
		color: $white;
	}

	.bg-green-l & {
		color: $white;
	}

	.bg-green & {
		color: $white;
	}

	.col-bg-grey & {
		color: map-get($color, "theme-2");
	}

	.col-bg-white & {
		color: map-get($color, "theme-2");
	}

	.col-bg-green & {
		color: $white;
	}

	.col-bg-green-l & {
		color: $white;
	}

	.col-bg-blue-m & {
		color: $white;
	}

	.col-bg-blue-l & {
		color: $white;
	}

	.col-bg-blue-d & {
		color: $white;
	}	
}



@mixin anchorColors {
	color: map-get($color, "theme-2");

	&:hover {
		color: map-get($color, "theme-3");
	}

	.bg-white & {
		border-color: map-get($color, "theme-2");
		color: map-get($color, "theme-2");
	}

	.bg-grey & {
		border-color: map-get($color, "theme-2");
		color: map-get($color, "theme-2");
	}

	.bg-blue-d & {
		border-color: $white;
		color: $white;
	}

	.bg-blue-m & {
		border-color: $white;
		color: $white;
	}

	.bg-blue-l & {
		border-color: $white;
		color: $white;
	}

	.bg-green-l & {
		border-color: $white;
		color: $white;
	}

	.bg-green & {
		border-color: $white;
		color: $white;
	}

	.col-bg-grey & {
		border-color: map-get($color, "theme-2");
		color: map-get($color, "theme-2");
	}

	.col-bg-white & {
		border-color: map-get($color, "theme-2");
		color: map-get($color, "theme-2");
	}

	.col-bg-green & {
		border-color: $white;
		color: $white;
	}

	.col-bg-green-l & {
		border-color: $white;
		color: $white;
	}

	.col-bg-blue-m & {
		border-color: $white;
		color: $white;
	}

	.col-bg-blue-l & {
		border-color: $white;
		color: $white;
	}

	.col-bg-blue-d & {
		border-color: $white;
		color: $white;
	}	
}
