// Base settings
$base-font-size: 16;

// Grid setting
$space-grid-size: 8;
$font-grid-size: 8;
$grid-columns: 12;
$offset-columns: 3;
$gutter: 32px;
$max-width: 1140px;

// Breakpoints
$breakpoints: (
	"small": 576px,
	"medium": 768px,
	"large": 992px,
	"x-large": 1280px,
	"xx-large": 1440px,
);

// Inspiration image height
$inspiration-height: 350px;

// Colors.
$color: (
	"theme-1": #2d4a71,
	"theme-2": #1073ae,
	"theme-3": #148fad,
	"theme-4": #1dbfb1,
	"theme-5": #21b5a2,
	"grey-dark": #262525,
	"grey-medium": #f2f2f2,
	"grey-light": #eef1f3,
	"white": #ffffff,
	"black": #000000
);

$modalOverlay: rgba(0, 0, 0, .7);

$linkColors: (
	"default": map-get($color, "theme-1"),
	"hover": #415b7f,
	"visited": #8040bf
);

$light-font: 300;

$primary-font: "Source-Sans";

$white: #ffffff;
$black: #000000;
$red: #ff0000;
